.title{
    font-size: 100px;
}
.numero{
    font-size: 300px;
    text-align: center;
}

#combo{
    font-size: 20px;
}

.blinkz {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

#f1_container, #f2_container, #f3_container, #f4_container, #f5_container, #f6_container  {
  position: relative;
  margin: 10px auto;
  width: 200px;
  height: 90px;
  z-index: 1;
}
#f7{vertical-align: top;}
#f7_container {
  position: relative;
  margin: 10px auto;
  width: 200px;
  /*height: 250px;*/
  z-index: 1;
}
#f1_container, #f2_container, #f3_container, #f4_container, #f5_container, #f6_container {
  perspective: 1000;
}
#f7_container {
  perspective: 1000;
}
#f1_card, #f2_card, #f3_card, #f4_card, #f5_card, #f6_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f7_card{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
/*#f1_container:hover #f1_card, #f2_container:hover #f2_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}*/
.rotate{
  transform: rotateY(180deg);
  /*box-shadow: -5px 5px 5px #aaa;*/
}
.rotateX{
  transform: rotateX(180deg);
  /*box-shadow: -5px 5px 5px #aaa;*/
}
.face{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  /*box-sizing: border-box;*/
  /*padding: 10px;*/
  /*color: white;*/
  text-align: center;
  /*background-color: #aaa;*/
}
.face2{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face2.back2 {
  display: block;
  transform: rotateX(180deg);
  /*box-sizing: border-box;*/
  /*padding: 10px;*/
  /*color: white;*/
  text-align: center;
  /*background-color: #aaa;*/
}
.test{
  font-family: Arial Black;
  font-size:30px;
}