/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/
/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{ border:0; font:inherit; font-size:100%; margin:0; padding:0; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block;}
body{ line-height:1;}
ol,ul{ list-style:none;}
blockquote,q{ quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{ content:''; content:none;}
table{ border-collapse:collapse; border-spacing:0; width:100%;}


/* #Basic Styles================================================== */
body{ background:#131313 url("pattern_1.jpg") repeat; color:#444; font:13px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif; -webkit-text-size-adjust:100%; -webkit-font-smoothing: antialiased; }

/* #Typography================================================== */
h1,h2,h3,h4,h5,h6{ color:#fff; font-weight:normal;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{ font-weight:inherit;}
h1 { font-size:25px;}

.subheader{ color:#777;}
p{ margin:0 0 20px 0;}
p img{ margin:0;}
p.lead{ color:#777; font-size:21px; line-height:27px;}
em{ font-style:italic;}
strong{ color:#333; font-weight:bold;}
small{ font-size:80%;}

hr{ border:solid #ddd; border-width:1px 0 0; clear:both; height:0; margin:10px 0 30px;}

/* #Links================================================== */
a,a:visited { }
a:hover {}
/* #Lists
================================================== */
ul, ol{ margin-bottom:20px;}
ul{ list-style:none outside;}
ol{ list-style:decimal;}
ol, ul.square, ul.circle, ul.disc{ margin-left:30px;}
ul.square{ list-style:square outside;}
ul.circle{ list-style:circle outside;}
ul.disc{ list-style:disc outside;}
ul ul, ul ol,ol ol, ol ul{ font-size:90%; margin:4px 0 5px 30px;}
ul ul li, ul ol li,ol ol li, ol ul li{ margin-bottom:6px;}
li{ line-height:18px; margin-bottom:12px;}
ul.large li{ line-height:21px;}
li p{ line-height:21px;}

/* #Images================================================== */
img.scale-with-grid {
	max-width:100%;
	height: auto;
}

/* #Misc================================================== */
.remove-bottom{ margin-bottom:0 !important;}
.half-bottom{ margin-bottom:10px !important;}
.add-bottom{ margin-bottom:20px !important;}
.add-bottom_2{ margin-bottom:35px !important;}
.add-bottom_3{ margin-bottom:40px !important;}


